*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;


    cursor: none;
}
@font-face {
    font-family: plainlight;
    src: url(./plain-light-webfont.ttf);
}
@font-face {
    font-family: plainregular;
    src: url(./plain-regular-webfont.ttf);
}
@font-face {
    font-family: silklight;
    src: url(./silkserif-lightitalic-webfont.ttf);
}
@font-face {
    font-family: silkregular;
    src: url(./silkserif-regularitalic-webfont.ttf);
}
html , body{
    height: 100%;
    width: 100%;
    font-family: "plainlight";
    color: #fff;
    
}
#crsr {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1.4px solid white;
    position: fixed;  /* Use `fixed` instead of `absolute` */
    top: 0;
    left: 0;
    z-index: 99999;
    pointer-events: none; /* Ensures it doesn't block clicks */
    transform: translate(-50%, -50%);
    will-change: transform; /* Optimizes animation */

}

#loader{
    width: 100vw;
    height: 100%;
    z-index: 9999;
    position: fixed;
    padding: 25vh 10vw;
    background-color: #030303;
    overflow-y: scroll; /* Enable scrolling */
    
}


.line{
    width: 100%;
    height: fit-content;
    display: flex;
    overflow: hidden; 
    margin-bottom: 1px;
    
}
#line1-part1{
    display: flex;
    justify-content: flex-start;
    gap: 0vw;
    align-items: center;
    margin-top: 1.6vh;
    padding-right: 1vw;
}
#line1-part1 h5,h6{
    font-family: silklight;
    font-weight: 700;
    font-size: 3vw;
}
#line1-part1 h5{
    width: 6vw;
}
 
.line h1{
    font-size: 6.5vw;
    line-height: 15vh;
    text-transform: uppercase;
    font-weight: 600;
    
}
#loader h2{
    font-size: 6vw;
    margin-bottom: 1vw;
    margin-left: 1.2vw;
    font-weight: 900;
    text-transform: uppercase;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    opacity: 0;
    font-family: plainlight;
    
}
@keyframes fontchange {
    0%{
        font-family: plainlight  ;
        -webkit-text-stroke: 1px white;
        color: white;
        opacity: 1;
    }
    48%{
        font-family: silregular;
        opacity: 0;
        -webkit-text-stroke: 1px white;
        color: white;
    }
    50%{
        font-family: plainlight;
        opacity: 1;
        -webkit-text-stroke: 1px white;
        color:transparent;
    }
    100%{
        font-family: silkregular;
        -webkit-text-stroke: 1px transparent;
        color: transparent;
        opacity: 0;
    }
}
 #main{
    position: relative;
    background-color: #151515;
    overflow-x: hidden;

 }
 #page1{
    height: 100vh;
    width: 100%;
    background:#151515;
    padding:2vw;
 }
 #nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
 }
 #logo{
    display: flex;
    gap: 2vw;
    width: 10vw;
    /* background-color: wheat; */
    align-items: center;
    justify-content: flex-end;
    height: 8vh;
    margin-bottom: 1vw;
 }
 #logo svg{
    /* background-color: yellowgreen; */
    gap: 2px;
    /* width: 4vw; */
 }
 #nav #navpart2{
    width: 30vw;
    /* background-color: teal; */
    padding: 1vw;
 }
 #nav #navpart2 h3{
    font-weight: 300;
    font-size: 1.12vw;
    
    
 }

  #nav #navpart3{
    display: flex;
    gap: 4vh;
    text-transform: uppercase;
    /* background-color: yellowgreen; */
  }
  #nav #navpart3 h4{
    font-size: 1vw;
    font-weight: 300;
  }
  .hero{
    /* background-color: red;  */
    /* margin-top: 2px; */
    width: 100%;
    margin-left: 23vw;
    min-height: fit-content;
    overflow: hidden;
    position: relative;
    z-index: 99;
    
  }
  .hero h1{
    text-transform: uppercase;
    font-size: 7vw;
    line-height: 8vw;
    overflow: visible;
  }
  .hero:nth-child(2){
    margin-top: 10vh;}
 #hero3 {
    display: flex;
    min-height: 17.4vh;
 }
#hero3 h1{
    font-size: 7vw;
    text-transform: uppercase;
    border-bottom: 1vw solid white;
    transition: 0.4s ease;
    opacity: 1;
    visibility: visible;
    display: block;
    color: white;
}
#hero3 h3{
    font-size: 12vh;
}
#hero3 h1:hover{
    -webkit-text-stroke: 1px white;
    color: rgba(255, 255, 255, 0);
    font-weight: 300;
    border-bottom: 0px ;
}
#page2{
    width: 100%;
    height: 100vh;
    position: relative;
    margin-top: 18vw;
    /* background-color: salmon; */
    
}
#page2 #video1{
    width: 74vw;
    background-color: saddlebrown;
    height: 58vh;
    position: relative;
    top: 0;
    left: 25vw;
    
    
}
#page2 #video1 img{
    width: 100%;
    height: 100%;
    position: absolute;
}
#page2 #video1 video{
    object-fit: cover;
    object-position: center;
    height: 99%;
    width: 100%;
}
#page2 #video-cursor{
    width: 10vw;
    height: 10vw;
    background-color:#FFA63D;
    border-radius: 50%;
    position: absolute;
    top: -12%;
    left: 40vw;
    z-index: 999;
    align-items: center;
    justify-content: center;
    display: flex;

}
#page2 i{
    font-size: 3vw;
}
#page3{
    min-height: fit-content;
    width: 100%;
    background-color:#d00000;
    position: relative;
    padding: 5vw 0;
    /* background-color: #FFA63D; */
}

#page3 .container{
    position: relative;
    width: 80%;
    min-height: 250vh;
    /* background-color: #FFA63D; */
    left: 30vw;
    /* background-color: cadetblue; */
    border-bottom: 0.2vh solid #ffe9e9;
}
.container >h1{
    font-size: 8vw;
    width: 100%;
    margin-bottom: 8vh;
    text-align: start;
    
}
.container >p{
    font-size: 2.2vw;
    width: 43%;
    /* margin-left: 27vh; */
    text-align: start;
    margin-top: 8vw;
    color: #7e7a7a;

}
.container #imagearea{
    margin-top: 5vw;
    width: 60vw;
    /* position: absolute; */
    min-height: fit-content;
    display: flex;
    /* background-color: yellow; */
    min-height: 40vh;
    gap: 2vw;
}
#imagearea img{
    /* position: absolute; */
    width: 50vw;
    height: 80vh;
    
}
#imagearea p{
    font-weight: 300;
    width: 70vh;
    font-size: 1.1vw;
}
.container #upline{
    width: 80vw;
    /* position: absolute; */
    height: 0.2vh;
    background-color: #ffe9e9;
    
}
.container .elems{
   min-height:60vh;
    width: 40%;
    background-color: #3F7DF4;
    position: absolute;
    top:135vh;
    left: 25vw;
    padding: 4vw  2vw;
    border-radius: 1%;
    
}
.elems .inelem{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    width:  100%;
    /* background-color: darkblue; */
    margin-top: 2px;
    text-align: start;
    border-bottom: 0.14vw solid rgb(213, 206, 206);
    margin-bottom: 5vh;
    /* margin-top: 5vh; */
    height: 10vh;
    gap:1vw;
    
    
}
.elems .inelem p{
    margin-left: 4vw;
    font-size: 1.1vw;
    font-family: plainlight;
    font-weight: 100;
}
.elems .inelem h2{
    width: 10vw;
    margin-left: 1vw;
    font-weight: 200;
    /* background-color: darkgoldenrod; */
    font-size: 1.4vw;
    font-family: plainregular;
    text-wrap: nowrap;
    
}
#page4::before{
    content: "We Work With";
    position: absolute;
    left: 30vw;
    top: -7vh;
    font-weight: 300;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#page4{
    min-height: 70vh;
    width: 100%;
    background-color:#151515;
    position: relative;
    /* padding: 8vw ; */
    /* background-color: aquamarine; */
    /* margin-top: 10vh; */
    
}
#page4 .runelem1{
    width: 100%;
    height: 15vh;
    /* line-height: 4vw; */
    /* background-color: wheat; */
    white-space: nowrap;
}
#page4 .runelem1 h1{
    font-size: 12vh;
    display: inline-block;
    -webkit-text-stroke: 0.11vw white;
    /* -webkit-text-fill-color: transparent; */
    color: transparent;
    font-weight: 400;
 
    margin-right: 12px;
    animation-name: leftmove;
    animation-timing-function: linear;
    animation-duration: 30s;
    animation-iteration-count: infinite;


}
#page4 span{
    font-family: silkregular;
}
#page4 .runelem2{
    white-space: nowrap;
    width: 100%;
    height: 15vh;
    /* overflow-x: auto;background-color: #3F7DF4; */
    
}
#page4 .runelem2 h1{
    font-size: 12vh;
    display: inline-block;
    -webkit-text-stroke: 0.11vw white;
    color: transparent;
    /* background-color: violet; */
    font-weight: 400;
    margin-right: 12px;
    animation-name: rightmove;
    animation-timing-function: linear;
    animation-duration: 20s;
    animation-iteration-count: infinite;


}
@keyframes rightmove {
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(calc(-100% - 20px));
    }
}
@keyframes leftmove {
    to{
        transform: translateX(0%);
    }
    from{
        transform: translateX(calc(-100% - 25px));
    }
}
#footer{
    width: 100%;
    height: 100vh;
    position: relative;
    /* background-color: rgb(30, 11, 30); */
    padding: 10vw ;
    padding-left: 30vw;
    padding-bottom: 50vw;
}
#footer>h1{
    font-size: 7.3vw;
    text-transform: uppercase;
    margin-bottom: 8vh;
}
#footer #adress{
    display: flex;
    border-top: 2px solid white;
    gap: 5vw;
    
}
#footer #adress #social{
    margin-top: 7vw;

    width: 30%;
    /* background-color: saddlebrown; */
    margin-left: 2px;
    align-items: start;
    justify-content: start;
    display: flex;
    flex-direction: column;
    height: fit-content;
}
#social h5{
    margin-bottom: 1.3vw;
    font-size: 1.2vw;
    font-weight: 200;
}
#social h4{
    /* margin-bottom: 1.3vw; */
    font-size: 1.6vw;
    font-weight: 200;
    /* background-color: firebrick; */
    width: 17vw;
}
#footerline{
    width: 100%;
    height: 0.1vw;
    background-color: white;
    margin-top: 15vh;
}
#main h2{
    text-transform: capitalize;
    font-weight: 200;
    font-size: 1.3vw;
    margin-top:1vw;
}